/* Gallery Section */

.portfolio {
    height: 1500px;
    /*margin-bottom: 50px;*/
}

#works {
    padding: 120px 0;
    background: #f6f6f6;
}

.categories {
    padding-bottom: 30px;
    text-align: center;
}

ul.cat li {
    display: inline-block;
}

ol.type li {
    display: inline-block;
    margin-left: 20px;
}

ol.type li a {
    color: white;
    /*#777;*/
    padding: 8px 16px;
    border: 1px solid #ccc;
    border-radius: 2px;
}

ol.type li a.active {
    color: #f6f6f6;
    border: 1px solid #ED4255;
    background: #ED4255;
}

ol.type li a:hover {
    color: #f6f6f6;
    border: 1px solid #ED4255;
    background: #ED4255;
}

.isotope-item {
    z-index: 2
}

.isotope-hidden.isotope-item {
    z-index: 1
}

.isotope,
.isotope .isotope-item {
    /* change duration value to whatever you like */
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    transition-duration: 0.8s;
}

.isotope-item {
    margin-right: -1px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.isotope {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition-property: height, width;
    -moz-transition-property: height, width;
    transition-property: height, width;
}

.isotope .isotope-item {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property: -moz-transform, opacity;
    transition-property: transform, opacity;
}


/*project box*/

.portfolio-item {
    margin: 20px;
    /*padding-left: 20px;*/
    width: 365px;
    height: 250px;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.25);
    /*box-shadow: 5px 5px 5px 10px #888888;*/
    /*border-radius: 1px;*/
}

.item {
    width: 365px;
    height: 250px;
    border-radius: 2px;
}

.portfolio-item .hover-bg {
    /*max-height: 190px;*/
    overflow: hidden;
    position: relative;
    /*margin-left: 40px;*/
}

.hover-bg .hover-text {
    position: absolute;
    text-align: center;
    margin: 0 auto;
    color: rgba(255, 255, 255, 0.6);
    background: rgba(0, 0, 0, 0.66);
    padding: 25% 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: all 0.5s;
}

.hover-bg .hover-text>h4 {
    opacity: 0;
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    transition: all 0.3s;
    color: #f6f6f6;
}

.hover-bg:hover .hover-text>h4 {
    opacity: 1;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateY(0);
    transform: translateY(0);
}

.hover-bg .hover-text>p {
    opacity: 0;
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    transition: all 0.3s;
}

.hover-bg:hover .hover-text>p {
    opacity: 1;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateY(0);
    transform: translateY(0);
}

.hover-bg .hover-text>i {
    opacity: 0;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    transition: all 0.3s;
}

.hover-bg:hover .hover-text>i {
    opacity: 1;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
}

.hover-bg:hover .hover-text {
    opacity: 1;
}

#works i.fa {
    font-size: 20px;
    padding: 5px;
    color: #F4D03F;
}


/* Team Section */


/*#team {
	padding: 140px 0;
	background: #e6e6e6;
}
img.img-thumbnail.team-img {
	width: 200px;
	height: 200px;
	border: 0;
	border-radius: 0;
	background-color: #f6f6f6;
}
#team .thumbnail {
	background: transparent;
	border: 0;
}
#team .thumbnail .caption {
	padding: 9px;
	color: #777;
}*/


/*els*/